<div class="jumbotron">
  <div class="container">
    <h1>{{title}}</h1>
  </div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top"  *ngIf="userDetailsFlag">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input #input (keyup)="onSearch(input.value)" type="text" placeholder="Search By Username" class="form-control" style="height: 20px;width: 20%;">
        </div>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
<br>
<div>
  <table id="tableid" style="width: 85%;" *ngIf="userDetailsFlag">
      <thead>
          <tr>
            <td id="userDetailsTableContainer">
                <div>
                    Id
                </div>
            </td>
            <td id="userDetailsTableContainer">
              <div>
                  Username
              </div>
          </td>
          <td id="userDetailsTableContainer">
            <div>
                Node Id
            </div>
          </td>
          <td id="userDetailsTableContainer">
            <div>
                Repo Link
            </div>
          </td>
          <td id="userDetailsTableContainer">
            <div>
                URL
            </div>
          </td>
          <td id="userDetailsTableContainer">
            <div>
                Followers URL
            </div>
          </td>
        </tr>
</thead>
<tbody>
  <tr
      *ngFor="let t of users | paginate: { itemsPerPage: size, currentPage: page, totalItems: totalCount, id: 'user_list'}">
      <td id="userDetailsValueContainer">{{t.id}}</td>
      <td id="userDetailsValueContainer">{{t.login}}</td>
      <td id="userDetailsValueContainer">{{t.node_id}}</td>
      <td id="userDetailsValueContainer" style="cursor: pointer;" (click)="viewUser(t)">{{t.repos_url}}</td>
      <td id="userDetailsValueContainer">{{t.url}}</td>
      <td id="userDetailsValueContainer">{{t.followers_url}}</td>
  </tr>
</tbody>
</table>
<pagination-controls *ngIf="userDetailsFlag" (pageChange)="changePages($event)" autoHide="true" id="user_list"
                            class="paginateResults"></pagination-controls>
<div class="jumbotron" *ngIf="!userDetailsFlag">
  <div class="container">
    <h1>{{this.selectedUser.login}} Repos</h1>
  </div>
</div>
<table id="tableid" style="width: 85%;" *ngIf="!userDetailsFlag">
  <thead>
      <tr>
        <td id="userDetailsTableContainer">
            <div>
                Full Name
            </div>
        </td>
        <td id="userDetailsTableContainer">
          <div>
              Git Url
          </div>
      </td>
      <td id="userDetailsTableContainer">
        <div>
            Url
        </div>
      </td>
      <td id="userDetailsTableContainer">
        <div>
          Watchers Count
        </div>
      </td>
    </tr>
</thead>
<tbody>
<tr
  *ngFor="let t of this.selectedUser.Repos">
  <td id="userDetailsValueContainer">{{t.full_name}}</td>
  <td id="userDetailsValueContainer">{{t.git_url}}</td>
  <td id="userDetailsValueContainer">{{t.url}}</td>
  <td id="userDetailsValueContainer">{{t.watchers_count}}</td>
</tr>
</tbody>
</table>
<br>
<button  *ngIf="!userDetailsFlag" style="background-color: deepskyblue;
width: 10%;height: 30px;float: left;" (click)="back()">Back</button>
</div>